
*{
    margin: 0;
    padding: 0;
    border:0;
}
body{
    margin-left: 10%;
}
.box1{
    background-color: #5f5f5f;
    width: 960px;
    height: 100px;
   
}
h1{
    padding-top: 2%;
    padding-left: 2%;
}
.box2{
    background-color: #888;
    width:800px;
    height:200px;   
    float:left;  
}
p{
    padding-top: 2%;
    padding-left: 2%;
}
.box3{
    width: 160px;
    height:100px;
    background-color: #919191;
    float:left;   
    
}
nav ul{
    list-style-type: none;
    padding:4%;
}
footer{
    background-color:black;
    width: 960px;
    height: 50px;
    color:#eee;
    clear:both;
    text-align: center;
    padding-top: 2%;
}

}
